### Petal Power Inventory

The goal of this project is to help to analyze a shop-inventory,  using Pandas, for a chain of gardening stores called Petal Power.

In [5]:
# Import pandas library for convenient data visualisation
import pandas as pd

# Read the csv file and store it for further usage
inventory = pd.read_csv('inventory.csv')

# Display first 10 rows to get the feel
inventory.head(10)

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

A customer emailed asking what products are sold at a Staten Island location. Let's find what products are there.

In [11]:
product_request = inventory[inventory.location == 'Staten Island'][['product_description']]
product_request

          product_description
0                       daisy
1                  calla lily
2                      tomato
3                        rake
4                 wheelbarrow
5                       spade
6               insect killer
7                 weed killer
8  20 inch terracotta planter
9      8 inch plastic planter

Another customer emails to ask what types of seeds are sold at the Brooklyn location. Here is the answer: